APP_PORT=12302
COMPOSE_PROJECT_NAME=wc2026
PROJECT_DIR=/share/CACHEDEV1_DATA/Web/wc2026
AUTH_ENABLED=true
ADMIN_PASSWORD=
AUTH_SESSION_SECRET=
AUTH_SESSION_MAX_AGE_SECONDS=604800
AUTH_COOKIE_SECURE=false
LIVE_SYNC_ENABLED=true
LIVE_SYNC_INTERVAL_SECONDS=60
LIVE_FEED_STALE_SECONDS=43200
MATCH_FEED_URL=
MATCH_RESULTS_BACKFILL_URL=
LOCAL_MATCH_FEED_ENABLED=true
ESPN_SCOREBOARD_ENABLED=true
ESPN_SCOREBOARD_START_DATE=20260611
ESPN_SCOREBOARD_MAX_DAYS=60
ESPN_SCOREBOARD_DAYS_BACK=14
ESPN_SCOREBOARD_DAYS_FORWARD=2
ESPN_SCOREBOARD_TIMEOUT_SECONDS=8
ESPN_SCOREBOARD_MAX_WORKERS=6
API_FOOTBALL_ENABLED=true
API_FOOTBALL_KEY=
API_FOOTBALL_LEAGUE_ID=1
API_FOOTBALL_SEASON=2026
API_FOOTBALL_DETAIL_DAYS_BACK=7
API_FOOTBALL_DETAIL_DAYS_FORWARD=1
SPORTMONKS_ENABLED=true
SPORTMONKS_TOKEN=
SPORTMONKS_TIMEOUT_SECONDS=12
SPORTMONKS_TEAM_IDS_JSON=
ODDS_MARKET_ENABLED=false
ODDS_PROVIDER=the_odds_api
THE_ODDS_API_KEY=
THE_ODDS_API_SPORT_KEY=soccer_fifa_world_cup
THE_ODDS_API_REGIONS=us,eu,uk
THE_ODDS_API_MARKETS=h2h,totals,spreads
THE_ODDS_API_ODDS_FORMAT=decimal
THE_ODDS_API_TIMEOUT_SECONDS=8
PYTHON_BASE_IMAGE=public.ecr.aws/docker/library/python:3.13-slim
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
NPM_REGISTRY=https://registry.npmmirror.com
